.post {
  display: flex;

  div {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    span {
      margin-right: 10px;
      color: rgba(97, 111, 130, 1);
    }
  }

  &Dots {
    &:hover {
      cursor: pointer;
    }
  }

  &Img {
    border: 5px solid rgba(205, 205, 205, 1);
    border-radius: 4px;
    width: 199px;
    height: 134px;
    margin-top: 6px;
  }

  &Input {
    height: 100%;
    width: 672px;
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
}